.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}


.noter {
    font-size: 9pt;
}

.semi-bold {
  font-weight: 550;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    float: right;
    width: 250px;
    /* filter: grayscale(100%); */
}

strong { font-weight: bold; }

  .abstract-link {
    color: #333; /* Adjust the color as desired */
    cursor: pointer;
  }
  .abstract-content {
    display: none;
  }
  .abstract-arrow::before {
    content: '\25B6'; /* Right arrow */
    display: inline-block;
    margin-right: 5px;
  }
  .abstract-content-show .abstract-arrow::before {
    content: '\25BC'; /* Down arrow */
  }

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: right;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 150px;
        float: right;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* filter: grayscale(100%); */
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */